<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="activityDetail?.image"></ion-img>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{activityDetail?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{activityDetail?.description}}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Duration</ion-label>
        <ion-chip color="primary">
          {{activityDetail?.duration}}
        </ion-chip>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-chip color="primary">
          {{activityDetail?.category}}
        </ion-chip>
      </ion-item>
      <ion-item>
        <ion-label>Polularity</ion-label>
        <ion-chip color="primary">
          {{activityDetail?.popularity}}
        </ion-chip>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>